site_name: My Wiki
docs_dir: docs

theme:
    name: material
    font:
        text: Ubuntu
        code: Ubuntu Mono
        theme:
    features:
        - navigation.tabs
        - navigation.sections
        - navigation.instant
        - navigation.top
        - search.suggest
        - search.highlight
        - content.code.copy
        - navigation.tracking
        - navigation.expand

    palette:
        - scheme: default
          primary: blue
          accent: light blue
          toggle:
              icon: material/toggle-switch
              name: Switch to dark mode

        - scheme: slate
          primary: blue
          accent: light blue
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to light mode

markdown_extensions:
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.highlight
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.tabbed
    - attr_list
    - pymdownx.emoji:
          emoji_index: !!python/name:material.extensions.emoji.twemoji
          emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
    - Home: index.md
    - Make a commit: MakeAcommit.md
    - App list: AppList.md
    - Terminal Command: TerminalCommand.md
    - Tutorial: Tutorial.md
    - Install Archlinux: InstallArchlinux.md
    - Tips & Tricks: Tips-&-Tricks.md
    - Link: Link.md
    - Gimp: Gimp.md

extra_css:
    - stylesheets/extra.css
